@{
    Layout = "Views/_Layout.cshtml";
}

<div class="col-md-8">
    <form method="post" action="/forms">
        <h1>Wyszukiwarka Języka Polskiego</h1>
        <div class="input-group">
            <input name="query" id="query" class="form-control" type="text" placeholder="Czego szukasz drogi człowieku?" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Szukaj</button>
            </span>
        </div>
     </form>
</div>